/* Import Local SCSS Files */
@import 'fonts';

/* color */
$White: #fff;
$Black: #000;
$Text-Primary: #333;
$Text-Secondary: #666;
$Text-Tertiary: #999;
$Primary-Default: #5B8BD0;
$Primary-Dark: #4F76C4; 
$Background: #F4F1EB;
$Accent-Light: #FFF9DB;
$Accent-Default: #FDE6B8;
$Secondary-Default: #D05B5D;
$Secondary-Dark: #C44F51;

/* fonts */
$Default-font: 'Pretendard JP';
$Pixel-font: 'PFStardustS';
$Pixel-font-JP: 'Galmuri14';

/* font size */
$h1-px : 96px;
$h2-px : 48px;
$h3-px : 32px;
$h4-px : 24px;
$h5-px : 20px;